* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set variables for colors used */
:root {
    --green: #1abc9c;
    --dark-blue: #474e5d;
    --off-white: #f5f6f7;
    --white: #ffffff;
    --other: #555555;
}

/* Styling the body of the page */
body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
  
p {font-size: 16px;}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
  
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
  
.container-fluid {
    padding-top: 70px;
    padding-bottom:  70px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    padding-top: 150px;
    padding-bottom: 150px;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}


/* Styling h1 tag */
h1 {
    padding-bottom: 70px;
}

/* Main section container styling */
.row {
    border: 2px solid var(--dark-blue);
}

/* Set properties for h2 tag */
h2 {
    font-size: 100%;
    font-style: oblique;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
    padding-bottom: 70px;
}
h3 {
    font-size: 150%;
}

/* Now set attributes to the about me, work and contact me sections */
.about-me, 
.work,
.contact-me {
    padding: 16px;
}
.card {
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    border: 2px var(--dark-blue);
    width: 100%;
}
.col-sm-4 {
    overflow: hidden;
    padding: 10px;
}
.card img, .col-sm-4 {
    max-width: 100%;
    transition: transform .2s ease; /* Animation */
}

.card:hover img,
.col-sm-4:hover img {
    transform: scale(1.1);
}

figcaption {
    background-color: var(--dark-blue);
    padding: 15px;
}

figcaption a:hover {
    color: #fff;
}

/* Set footer styles */
footer {
    padding: 20px;
    flex-shrink: 0;
    text-align: center;
    background-color: var(--green);
}

/* Set style for footer h3 tag */
footer h3 {
    font-size: 20px;
}

/* For responsive design, set max-width values for  larger screens of 992px */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
    nav {
        flex-direction: column;
    }
}

/* For responsive design, set max-width values for Ipad screens from 768px */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .navigation {
        flex-direction: column;
    }
}

/* For responsive design, set max-width values for smaller phone screens of 480px */
@media screen and (max-width: 480px) {
    header {
        font-size: 100%;
    }
    body {
        padding: 0px;
    }

}


