* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Set variable */
:root {
    --blue: #0965de;
    --white: #d9dcd6;
    --other: #2a607c;
}
/* Styling the body of the page */
body{
    font-family: Arial;
    margin: 0;
    line-height: 1.3;
    background-color: var(--white);
}
/* display header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: var(--white);
    color: var(--other);
}
/* Styling h1 tag */
h1 {
    font-size: 200%;
    font-weight: bold;
}
h2 {
    font-size: 100%;
    font-style: oblique;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
/* Styling the nav class */
.navigation {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}
/* Styling the navigation a tags for the links*/
.navigation a {
    color: var(--other);
    font-weight: bold;
    text-decoration: none;
}
.navigation a:hover {
    color: #fff;
}
/* Main section contents styling */
main {
    display: flex;
    flex-wrap: wrap;
}
/* Styling the hero image as background  */
.hero-image {
    height: 400px;
    background-image: url("../images/web-programmer-network.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
}
/* Set the hero image text */
.hero-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-60%, -30%);
    color: var(--white);
}
/* Style container holding the profile image */
.profile-image {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -4%;
    right: 3%;  
    border: 2px solid black;
}
.profile-image img {
    width: 150px;
    height: 150px;
}
/* Styling the about me section  */
.about-me {
    display: flex;
    padding: 3px;
    text-align: right;
}
.work {
    display: flex;
    padding: 16px;
}
.contact-me {
    display: flex;
    padding: 3px;
    text-align: right;
}
.myworklist {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}
.verticalLine {
    border-right: 2px solid var(--other);
    height: fit-content;
    padding: 20px;
    margin-left: 47px;
    font-size: 30px;
    color: var(--other);
}
.verticalLine-2 {
    border-right: 2px solid var(--other);
    padding: 20px;
    font-size: 30px;
    margin-left: 43px;
    color: var(--other);    
}
.verticalLine-3 {
    border-right: 2px solid var(--other);
    height: fit-content;
    padding: 20px;
    margin-left: 22px;
    font-size: 30px;
    color: var(--other);   
}
p {
    margin: 20px;
    font-size: 15px;
    text-align: left;
}
.mywork img {
    width: 100%;
    min-width: 400px;
}
.mywork {
    flex: 1 0 200px;
    padding: 10px;
    margin: 5px;
    border: 2px solid var(--other);
}
figcaption {
    background-color: var(--other);
    color: white;
    font-style: italic;
    padding: 20px;
}
/* Set styles for contact me sections */
.mycontact  {
    flex: 1 0 200px;
    padding: 15px;
    text-align: center;
    margin: 30px;
}
.mycontact header {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--other);
}
/* Set footer styles */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color: var(--blue);
}
/* Set style for footer h3 tag */
h3 {
    font-size: 20px;
}

